.wp-block-hoyry-block-template{
	position: relative;

	.hoyry-block-template-wrapper{

		&[data-show-border="true"]{
			border: 1px solid currentColor;
			padding: 1em;
		}

		.hoyry-block-template-container{
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
	}

	.hoyry-block-template-item{

		.hoyry-block-template-item-media{
			margin: 0;

			.hoyry-block-template-item-media-image{
				width: 100%;
				height: auto;
				display: block;
			}
		}

		.hoyry-block-template-item-content{

			> *{
				margin-block-start: 1em;
				margin-block-end: 0;

				&:first-child{
					margin-top: 0;
				}
			}
		}
	}
}
